:root{
   --color-primary:#2584ff;
   --color-secondary:#00d9ff;
   --color-accent:#ff3400;
   --color-headings:#1b0760;
   --color-body:#918ca4;
}
/*typography*/
html{
    /* 16*62.5=10px*/
    font-size: 62.5%;
}
body{
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    color:var(--color-headings);
    margin-bottom: 1rem;
    
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 4rem;
   
}
h3{
    font-size: 3rem;
     
}
p{
    margin-top: 0;
}
@media  screen and (min-width:1024px) {
   .link-arrow{
    font-size: 1.5rem;
   }
    h1{
        font-size: 8rem;
    }
    h3{
        font-size: 2.4rem;
    }
    h2{
        font-size: 4rem;
    }
}
a{
    text-decoration: none;
}
/* links*/
.link-arrow{
color: var(--color-accent);
text-transform: capitalize;
font-size: 2rem;
font-weight: bold;
text-transform: capitalize;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
   
}
.link-arrow:hover:after{
    margin-left: 10px;
    transition: margin 0.15s;
}
@media  screen and (min-width:1024px) {
    .link-arrow{
     font-size: 1.5rem;
    }
}
/*badges*/
.badge{
 border-radius: 20px;   
 padding: 0.5rem 2rem;
font-weight: 600;
white-space: nowrap;
font-size: 2rem;
}
.badge--primary{
    background: var(--color-primary);
    color: #ffffff;
}
.badge--secondary{
    background: var(--color-secondary);
    color: #ffffff;
}
.badge--small{
    font-size: 1.6rem;
}
@media  screen and (min-width:1024px) {
    .badge{
     font-size: 1.6rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}