<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>fjlhflf fj fsdjfl fsd  jo ll jl fjfl fjsl jf lfj jlj
             llf
             sfjf
             fsf
             f
             lslfdfjfll"</p>
    </header>
         <div style="width:30%; padding: 4rem;">
            <div class="card card--secondary">
              <header class="card__header">Card Title</header>
            <div class="card__body">the greates of all the time in my viewe point in is greatest things because greaatest things are always greatest.</div>
            </div>
        </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>fjlhflf fj fsdjfl fsd  jo ll jl fjfl fjsl jf lfj jlj
             </p>
    </div>
         
</section>