<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
       
       
            <svg class="icon icon--white collapsible__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
    </header>
 <div class="collapsible__content">lorem ipsu is one of
     the greatenot that mosh always 
     write i don't know what type of language is 
     this text.now o th oht orer eo oer roweroer
      wrweorwer wer weoer eor</div>
</div>
<script src="js/main.js"></script>