<footer class="block block--dark footer">
    <div class="container grid footer--section">
        <section class="collapsible collapsible--expanded footer__setction">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Products</h2>
               
               
                    <svg class="icon icon--white collapsible__chevron">
                        <img class="chevronimg" src="images/chevron.svg" alt="">
                    </svg>
            </header>
         <div class="collapsible__content">
            <ul class="list">
                <li><a href="#">Website Hoisting</a></li>
                <li> <a href="#">Free Automated</a></li>
                <li><a href="#">Wordpress</a></li>
                <li> <a href="#">Migrations</a></li>
            </ul>
            </div>
        </section>
        <section class="collapsible footer__setction">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">company</h2>
               
               
                    <svg class="icon icon--white collapsible__chevron">
                        <img class="chevronimg" src="images/chevron.svg" alt="">
                    </svg>
            </header>
         <div class="collapsible__content"> <ul class="list">
            <li><a href="#">Website Hoisting</a></li>
            <li> <a href="#">Free Automated</a></li>
            <li><a href="#">Wordpress</a></li>
            <li> <a href="#">Migrations</a></li>
        </ul>
            </div>
        </section>
        <section class="collapsible footer__setction">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Domains</h2>
               
               
                    <svg class="icon icon--white collapsible__chevron">
                       <img class="chevronimg" src="images/chevron.svg" alt="">
                    </svg>
            </header>
         <div class="collapsible__content"> <ul class="list">
            <li><a href="#">Website Hoisting</a></li>
            <li> <a href="#">Free Automated</a></li>
            <li><a href="#">Wordpress</a></li>
            <li> <a href="#">Migrations</a></li>
        </ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="images/logo.svg" alt="">
            <p class="footer__copyright">copyright 2020 Mosh Hamedani</p>
        </section>
    </div>
</footer>