<blockquote class="quote">
    <p class="quote__text">In order to show you the most relevant results, we have omitted some entries very similar to the 9 already displayed.
        If you like, you can</p>
<footer>
    <div class="media">
        <div class="media__image">
            
                <svg class="icon icon--primary quote__line">
                    <use xlink:href="images/sprite.svg#line"></use>
    
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">ABC Company</p>
        </div>
    </div>
</footer>
</blockquote>