<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h2>
    </header>
   <div class="container grid grid--1x2">
    <picture class="block-showcase__image>
        <source 
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
        <source 
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x">
        <img class="block-showcase__image"
         src="images/ipad.png" alt="">
    </picture>
<ul class="list">
    <li>
        <div class="media">
            <div class="media__image">
                
                    <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#snap"></use></svg>
        
            </div>
            <div class="media__body">
                <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab blanditiis consectetur necessitatibus magni iure nostrum molestiae reprehenderit sapiente distinctio nulla?</p>
            </div>
        </div>
    </li>
    <li></li>
    <li></li>
</ul>
</div>

</section>



   



<section class="block">
    <header class="block__header">
<h2>What our customer are saying</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illo magni eum nobis vero ratione maxime quae quas minus, id animi voluptatibus fugit.</p>
    </header>
<div class="container">
    <body style="padding: 5rem">
        <div class="card testimonial">
           <div class="grid grid--1x2">
               <div class="testimonial__image">
                   <img  class="testimonial__img"
                   src="images/testimonial.jpg"
                   alt="A happy smiling customer">
                   <span class="icon-container icon-container--accent">
                       <svg class="icon icon--white icon--small">
                           <use xlink:href="images/sprite.svg#quotes"></use></svg>
                   </span>
               </div>
               <blockquote class="quote">
                   <p class="quote__text">In order to show you the most relevant results, we have omitted some entries very similar to the 9 already displayed.
                       If you like, you can</p>
               <footer>
                   <div class="media">
                       <div class="media__image">
                           
                               <svg class="icon icon--primary quote__line">
                                   <use xlink:href="images/sprite.svg#line"></use></svg>
                   
                       </div>
                       <div class="media__body">
                           <h3 class="media__title quote__author">John Smith</h3>
                       <p class="quote__organization">ABC Company</p>
                       </div>
                   </div>
               </footer>
               </blockquote>
        </div>
        </div>
       </body>  
</div>
</section>